<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.prowl.torquescan"
    android:versionCode="1"
    android:versionName="1.0" >

    <application
        android:debuggable="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name" >
        
        <activity
            android:name="org.prowl.torquescan.PluginActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_dash_board"
            android:theme="@style/FullscreenTheme" >
            <intent-filter>
                <action android:name="org.prowl.torque.ACTIVITY_PLUGIN" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.prowl.torque.PID_PLUGIN" />
            </intent-filter>             
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
           
        </activity>        
<!--         <activity -->
<!--             android:name="org.prowl.torquescan.PluginActivity" -->
<!--             android:alwaysRetainTaskState="true" -->
<!--             android:clearTaskOnLaunch="true" -->
<!--             android:exported="true" -->
<!--             android:finishOnTaskLaunch="false" -->
<!--             android:label="@string/app_name" -->
<!--             android:theme="@android:style/Theme.NoTitleBar.Fullscreen" > -->
<!--             <intent-filter> -->
<!--                 <action android:name="org.prowl.torque.ACTIVITY_PLUGIN" /> -->
<!--             </intent-filter> -->
<!--             <intent-filter> -->
<!--                 <action android:name="org.prowl.torque.PID_PLUGIN" /> -->
<!--             </intent-filter> -->
<!--             <intent-filter> -->
<!--                 <action android:name="android.intent.action.MAIN" /> -->
<!--             </intent-filter> -->
<!--         </activity> -->

    </application>

    <uses-sdk android:minSdkVersion="5" />

</manifest>